.contact {
	padding: 80px 100px 100px;
	display: flex;
	justify-content: center;

	@include mobile {
		flex-direction: column;
		text-align: center;
		padding: 30px;
	}
}
.contact__column {
	width: 50%;
	@include mobile {
		flex-direction: row;
		width: 100%;
	}
}
.contact__title {
	font-size: 3.0625rem;
	line-height: 3.6875rem;
	@include mobile {
		text-align: center;
	}
}
.contact__instruction {
	margin: 22px 0 42px;
	font-size: 1rem;
	line-height: 1.375rem;
}
.contact__details {
	display: flex;
	justify-content: flex-start;
	color: $color-grey;
	align-items: center;
	@include mobile {
		flex-direction: column;
		width: 100%;
		margin-bottom: 50px;
		gap: 20px;
	}
}
.details__item {
	color: $color-grey;
	font-weight: 500;
	text-decoration: none;
	@include mobile {
		margin: 0 !important;
	}
	&:first-of-type {
		margin-right: 20px;
	}
	img {
		margin-right: 10px;
	}
}
.form {
	display: flex;
	flex-direction: column;
	.btn {
		font-size: 0.8125rem;
		padding: 20px 97px;
		align-self: center;
		margin-top: 20px;
		color: white;
		font-weight: bold;
		border: none;
		background-color: $color-primary;
		border-radius: $button-radius;
		box-shadow: 3px 10px 14px $color-primary-shadow;
	}
}
.form__field {
	display: flex;
	flex-direction: column;
	&:first-of-type {
		margin-bottom: 42px;
	}
}
.form__label {
	font-weight: bold;
	text-transform: uppercase;
	color: $color-primary;
	line-height: 0.9rem;
	letter-spacing: 3px;
	font-size: 0.6875rem;
}
.form__input {
	border: none;
	border-bottom: 1px solid $color-grey;
	background-color: transparent;
	line-height: 2.625rem;
}
.form__consent {
	margin-top: 30px;
}
.form__checkbox {
	display: block;
	position: relative;
	padding-left: 35px;
	margin-bottom: 12px;
	cursor: pointer;
	font-size: 1.375rem;
	input {
		position: absolute;
		opacity: 0;
		cursor: pointer;
		height: 0;
		width: 0;
		&:checked {
			& ~ .checkbox {
				background-image: url(../images/Checkmark.svg);
				background-position: center;
				background-size: 50%;
				background-repeat: no-repeat;
			}
		}
	}
	.checkbox {
		position: absolute;
		top: 0;
		left: 0;
		height: 25px;
		width: 25px;
		background-color: $color-white;
		border: 1px solid $color-grey;
		border-radius: 4px;
	}
	.consent__text {
		margin: 0 10px;
		font-size: 0.75rem;
		color: $color-grey;
		line-height: 17px;
	}
}
